@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --Cyan: hsl(179, 62%, 43%);
    --Yellow: hsl(71, 73%, 54%);
    --Gray: hsl(204, 43%, 93%);
    --Blue: hsl(218, 22%, 67%);
}
*{
    padding: 0px;
    margin: 0px 0px;
}
body{
    height: 100vh;
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  hsl(204, 43%, 93%);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 635px;
    height: 475px;
    border-radius: 10px;
}
 .white{
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 30px 30px;
 }
 .white h1{
    font-size: 25px;
    font-weight: 700;
    color: hsl(179, 62%, 43%);
    padding-bottom: 18px;
 }
 .white h2{
    font-size: 20px;
    font-weight: 700;
    color: hsl(71, 73%, 54%);
    padding-bottom: 12px;
 }
 .white p{
    font-size: 16px;
    color: hsl(218, 22%, 67%);
    line-height: 20px;
 }
 .blue{
    display: flex;
    flex-direction: row;
 }
 .right{
    background-color: hsl(179, 62%, 43%);
    height: 260px;
    width: 315px;
    border-bottom-right-radius: 10px;
    color: white;
 }
 .right h6{
    padding: 20px 30px;
    padding-bottom: 5px !important;
    font-size: 18px;
    font-weight: 400;
    margin: 15px;
 }
 .right p{
    padding: 10px 30px;
    padding-top: 0px !important;
    padding-right: 90px !important;
    margin: 15px;
    font-size: 15px;
    opacity: 60%;
 }
 .left{
    background-color: hsl(179, 59%, 39%);
    height: 260px;
    width: 315px;
    border-bottom-left-radius: 10px;
    color: white;
    
 }
 .left .content{
    padding: 30px;
 }
.monthly{
    font-size: 18px;
    font-weight: 400;
    padding-top: 2px;
}
.big p{
    font-size: 40px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 10px;
}
.big p span{
    font-size: 18px;
    font-weight: lighter;
    opacity: 55%;
}
.full{
    font-size: 16px;
    opacity: 70%;
    padding-bottom: 25px;
}
 button{
    background-color: hsl(71, 73%, 54%);
    color: white;
    font-size: 12px;
    border-radius: 8px;
    border: none;
    width: 100%;
    height: 45px;
    cursor: pointer;
 }
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 650px) {
    main{
        height: 200%;
    }
    .card{
        display: flex;
        flex-direction: column;
        width: 315px;
        margin: auto 40px;
    }
    .white p{
        font-size: 13px;
    }
    .blue{
        display: flex;
        flex-direction: column;
        width: 315px;
    }
    .blue .left{
        border-bottom-left-radius: 0px;
    }
    .blue .right{
        border-bottom-left-radius: 10px;
    }
    .right p{
        font-size: 12px;
        line-height: 20px;
    }
    .attribution{
        display: none;
    }
}